---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import BackgroundCard from '../components/BackgroundCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html class="2xl:text-[20px]" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-background text-white font-sans ">
		<Header title={SITE_TITLE}/>
		<main>
			<section>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-left">
						<h2 class="mb-3 px-4 sm:px-24 font-bold text-3xl">Josh Smith</h2>
						<h2 class="px-4 sm:px-24 text-2xl">Undergraduate Student at Murdoch University</h2>
						<p class="px-4 py-4 sm:px-24 text-xl">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</section>
			<section>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-center">
						<h2 class="mb-3 px-4 font-bold text-3xl">Background</h2>
						<div>
							<div class="px-2">
								<button id="expButton" class="px-2">Experience</button>
								<button id="eduButton" class="px-2">Education</button>
								<button id="skillButton" class="px-2">Skills</button>
							</div>
							<div id="experience" class="mx-auto px-4 py-12 grid gap-4">
								<BackgroundCard
									date="2022-2022"
									title="job name"
									desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
								/>
								<BackgroundCard
								date="2022-current"
								title="job name"
								desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
							/>
							</div>
							<div id="skills" class="hidden">
								skills area
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-center">
						<h2 class="mb-3 px-4 font-bold text-3xl">Projects</h2>
						<p class="px-4 text-lg">See what i've been up to in my free time</p>
					</div>
					<div class="mx-auto px-4 py-12 grid md:grid-cols-2 gap-4">
						<Card
						title="project01"
						body="description"
						href="/"
						/>
						<Card
						title="project02"
						body="description"
						href="/"
						/>
						<Card
						title="project03"
						body="description"
						href="/"
						/>
						<Card
						title="project04"
						body="description"
						href="/"
						/>
					</div>
				</div>
			</section>
		</main>
		<Footer/>
	</body>
</html>
<script>
	document.querySelector('#skillButton')?.addEventListener('click', () => {
		if(!document.querySelector('#experience')?.classList.contains('hidden')) //if experience are not hidden (shown)
		{
			document.querySelector('#experience')?.classList.add('hidden'); //hide the experience
		}
		if(document.querySelector('#skills')?.classList.contains('hidden')) //if skills is hidden
		{
			document.querySelector('#skills')?.classList.remove('hidden');
		}
	});

	document.querySelector('#expButton')?.addEventListener('click', () => {
		if(!document.querySelector('#skills')?.classList.contains('hidden')) //if skills are not hidden (shown)
		{
			document.querySelector('#skills')?.classList.add('hidden'); //hide the skills
		}
		if(document.querySelector('#experience')?.classList.contains('hidden')) //if experience is hidden
		{
			document.querySelector('#experience')?.classList.remove('hidden');
		}
	});
</script>
