---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html class="2xl:text-[20px]" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-background text-white  font-sans">
		<Header title={SITE_TITLE} />
		<main class="m-auto px-20 max-w-prose leading-6">
			<Card
				title="title"
				body="body"
				href=""
			/>
		</main>
		<Footer />
	</body>
</html>
<style>
	.fa-discord{color: white;}
	.fa-linkedin-in{color: white;}
	.fa-instagram{color: white;}
	.fa-github{color: white;}
</style>
