---
export interface Props {
	date: string;
	title: string;
	desc: string;
}

const { date, title, desc } = Astro.props;
---

<li class="w-full flex justify-self-center">
	<a class="px-6 pb-8 pt-4 w-full grid gap-x-12 md:grid-cols-3 bg-card rounded-md">
    <h2 class="text-left text-lg ">{date}</h2>
		<h2 class="text-left text-lg">{title}</h2>
		<p class="text-left text-sm">{desc}</p>
	</a>
</li>
