---
import HeaderLink from './HeaderLink.astro';
import json from "../data.json";
---

<header class="sticky top-0 flex-none backdrop-blur-sm bg-background/95">
	<div class="mx-auto py-4 px-3 max-w-6xl md:flex md:justify-between">
		<div class="py-3 flex justify-between">
			<h2 class="text=x1 md:text-2xl flex items-center">{json.siteSettings.SITE_TITLE}</h2>
			<div id="phoneMenu" class="flex items-center md:hidden">
				<button id="menuButton" class="p-2" type="button">
					<iconify-icon icon="mdi:menu" style="color: white;" width="24" height="24"></iconify-icon>
				</button>
			</div>
		</div>
		<nav id="MainNav" class="w-full md:w-auto md:flex items-center hidden">
			<ul class="flex flex-col md:flex-row text-xl">
				<HeaderLink id="navButton" href="#about">About</HeaderLink>
				<HeaderLink id="navButton" href="#skills">Skills</HeaderLink>
				<HeaderLink id="navButton" href="#background">Background</HeaderLink>
				<HeaderLink id="navButton" href="#projects">Projects</HeaderLink>
			</ul>
			<button class="px-3 py-1 inline-block text-lg border-solid border-2 rounded-md text-blue hover:bg-blue hover:bg-opacity-30"><a href="Josh_Smith_Resume.pdf" download="Josh_Smith_Resume.pdf">Resume</a></button>
		</nav>
	</div>
</header>
<script>
    document.querySelector('#menuButton')?.addEventListener('click', () => {
      document.querySelector('#MainNav')?.classList.toggle('hidden');
			if(document.querySelector('header')?.classList.contains('bg-background/95'))
			{
				document.querySelector('header')?.classList.remove('bg-background/95');
				document.querySelector('header')?.classList.add('bg-background');
			}
			else
			{
				document.querySelector('header')?.classList.add('bg-background/95');
				document.querySelector('header')?.classList.remove('bg-background');
			}
	  	document.querySelector('header')?.classList.toggle('h-screen');
    });

	const buttons = document.querySelectorAll('#navButton');

	buttons.forEach((button) =>
	{
		button.addEventListener('click', () =>
		{
			if(!document.querySelector('#phoneMenu')?.classList.contains('hidden'))
			{
				document.querySelector('#MainNav')?.classList.add('hidden');
				document.querySelector('header')?.classList.remove('h-screen');
			}
		});
	});
</script>