---
export interface Props {
	title: string;
	body: string;
	href: string;
	langs: string;
}

const { href, title, body, langs } = Astro.props;
---

<li class="w-full flex justify-self-center">
	<a href={href} target="_blank" class="group p-4 w-full bg-card rounded-md">
		<h2 class="transition duration-250 group-hover:text-blue">
			{title}
			<span class="">&rarr;</span>
		</h2>
		<p class="mt-3 mb-0 text-sm">
			{body}
		</p>
		<div class="flex flex-row gap-4">
			<h2 class="pt-3 text-xs text-blue font-bold">Languages:</h2>
			<h2 class="pt-3 text-xs text-blue font-medium">{langs}</h2>
		</div>
		<slot/>
	</a>
</li>
