---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="w-full flex justify-self-center">
	<a href={href} target="_blank" class="p-4 w-full bg-card rounded-md">
		<h2 class="transition duration-250 hover:text-blue">
			{title}
			<span class="">&rarr;</span>
		</h2>
		<p class="mt-3 mb-0 text-sm">
			{body}
		</p>
		<slot/>
	</a>
</li>
